@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

/* Centrar div y button */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

/* Centrar h1 y a dentro del div */
div > h1, 
div > a {
    text-align: center;
    display: block;
}

button {
    font-size: 50px;
}

/* Alinear el contenido de los divs a la izquierda */
div > p, 
div > table {
    margin-left: 0;
    text-align: left;
}

/* Estilos para la tabla */
table {
    border-collapse: collapse;
    min-width: 30%;
    max-width: 100%;
}

/* Estilos para las celdas de la tabla */
td, th {
    border: 2px solid black;
    padding: 5px;
    text-align: left;
}

th {
    text-align: center;
}

h1 {
    background-color: #f00;
}

ul, li, b {
    text-align: left;
}

img:not(.ScrollIMG) {
    height: 50%;
    width: 50%;
    max-width: 250px;
}

.highlight {
    background-color: yellow;
}

.ScrollIMG {
    right: 5px;
    bottom: 5px;
    align-items: right;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
}

h2 span {
    color: blue;
}

iframe {
    width: auto;
    height: auto;
}

/* Estilos para el párrafo */
p {
    margin-left: 0;
    text-align: left;
}

/* Centrar div y button */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Estilos para el html */
.amarillo {
    color: yellow;
}

.rojo {
    color: red;
}

.azul {
    color: blue;
}