@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

div {
    margin-left: 2%;
    margin-right: auto;
}

img {
    height: 50%;
    width: 50%;
}

button {
    font-size: 50px;
}

.highlight {
    background-color: yellow;
}

p {
    text-align: left;
}

/* Estilos para la tabla */
table {
    border-collapse: collapse;
    width: 100%;
}

/* Estilos para las celdas de la tabla */
td, th {
    border: 2px solid black;
    padding: 5px;
    text-align: left;
}

th {
    text-align: center;
}

h1 {
    background-color: #f00;
}

ul, li, b {
    text-align: left;
}

.ScrollIMG {
    right: 5px;
    bottom: 5px;
    align-items: right;

    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
}

img:not(.ScrollIMG) {
    max-width: 250px;
    width: auto;
}

h2 span {
    color: blue;
}

iframe {
    width: auto;
    height: auto;
}

/* Estilos para el html */
.subrayado {
    text-decoration: solid;
}

.rojo {
    color: red;
}

.azul {
    color: blue;
}