@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

div {
    margin-left: 5%;
    margin-right: 5%;
}

img {
    height: 50%;
    width: 50%;
    display: block;
}

button {
    font-size: 50px;
}

.highlight {
    background-color: yellow;
}

p {
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 2px solid black;
    padding: 5px;
    text-align: left;
    width: 150px;
}

th {
    text-align: center;
    border: 2px solid black;
    padding: 5px;
    text-align: center;
    width: 150px;
}